{% extends 'base.html' %}
{% block title %}Contact Page {% endblock %}
{% block details %}We are from details page 

<!-- using post method -->

<!-- <div style="width:50%; height:500px; margin: auto" >
  <form method="post" action="{% url 'form'%}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div> 
    <select class="form-select form-select-sm" aria-label="Small select example" name="select">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->

<!-- using get method -->
  <form method="get"style="width:50%; height:500px; margin: auto;" class="pt-50px" >
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div> 
    <select class="form-select form-select-sm" aria-label="Small select example" name="select">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


{% endblock %}